/.idea/.idea.Yaga.dir/.idea/encodings.xml
/.idea/.idea.Yaga.dir/.idea/indexLayout.xml
/.idea/.idea.Yaga.dir/.idea/projectSettingsUpdater.xml
/.idea/.idea.Yaga.dir/.idea/vcs.xml
/.idea/.idea.Yaga.dir/.idea/workspace.xml
Assets/.idea/
Examples/
Examples.meta
TextMesh Pro/
TextMesh Pro.meta
/Yaga/.idea/
Plugins/
Plugins.meta
Reports/
Reports.meta